* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html{
    height:100%;
}

body{
    height:100%;
    position:relative;
    margin:0px;
    padding:0px;
}

#add1{
    height: 100%;
    background-color: red;
}

#add2{
    height: 100%;
    background-color: blue;
}

#add3{
    height: 100%;
    background-color:grey;
}

#radar{
    height: 100%;
    background-color: green;
}

p{
    margin:0;
}

#submit, #submit input{
    text-align:center;
}